# Turbo =>
.turbo

# Dependencies =>
node_modules
pnpm-lock.json
yarn.lock

# Optional npm cache directory =>
.npm

# Build folder =>
build

# Remix =>
.cache
.env
.vercel
.output
api

/build/
/public/build
/api/index.js
/api/index.js.map

# Tailwind CSS compiled files =>
website/src/styles/tailwind.css