@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --sh-class: #648de8;
    --sh-sign: #21cee8;
    --sh-string: #21cee8;
    --sh-keyword: #c084fc;
    --sh-comment: #565f89;
    --sh-jsxliterals: #648de8;
    --sh-property: #21cee8;
    --sh-entity: #c084fc;
  }
}

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: "GeistMono";
  src: url("/fonts/GeistMonoVF.woff2") format("woff2");
  font-display: swap;
}
