@import "tailwindcss";
@import "tw-animate-css";

/* Dark Mode */
@custom-variant dark (&:is(.dark *));

/* Fonts */
@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: "GeistMono";
  src: url("/fonts/GeistMono.woff2") format("woff2");
  font-display: swap;
}

@theme {
  /* Colors */
  --color-react-symbol-pink: #c084fc;
  --color-react-symbol-aqua: #22d3ee;

  /* Fonts */
  --font-sans: "InterVariable", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "GeistMono", ui-monospace, SFMono-Regular, Consolas,
    "Liberation Mono";

  /* Animations */
  --animate-spin-slow: spin 4s linear infinite;
}
